<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
<div>
    @RenderBody()
    
    @Html.ActionLink("На главную", "Index", "Home")
    
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Paraplaner</p>
        Шаблон оформления задается в Views/Shared/_Layout.cshtml
    </footer>
</div>

</body>
</html>