@{
    ViewBag.Title = "Paraplaner Cash WebApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paraplaner Cash WebApp (это Views/Home/Index.cshtml)</h2>

<li>
    <ul>@Html.ActionLink("Просмотр списка записей", "List", "Home")</ul>
    <ul>@Html.ActionLink("Добавить запись", "Add", "Record")</ul>
    <ul>@Html.ActionLink("Просмотр статистики", "Index", "Statistics")</ul>
    <ul>@Html.ActionLink("Настройки", "Index", "Settings")</ul>
</li>